<container>
    <row class="footer-top">
        <columns small="6" large="5" valign="middle">
            <row>
                <columns small="3" large="2" valign="middle">
                    <h1>T</h1>
                    <!-- <img src="https://i.imgur.com/R0wMf8K.png" alt="" class="circle-logo" /> -->
                </columns>
                <columns small="9" large="9" class="info-section" valign="middle">
                    <span class="call-to-action">
                        Download the app
                    </span>
                    <span class="info">
                        Cheap flights, hotels and more
                    </span>
                </columns>
            </row>
        </columns>

        <columns small="6" large="7" class="store-logos" valign="middle">
            <row>
                <columns large="6" valign="middle">
                    <img src="https://i.imgur.com/KnOFoBI.png" alt="" />
                </columns>
                <columns large="6" valign="middle">
                    <img src="https://i.imgur.com/iyvq1Bi.png" alt="" />
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer-social">
        <columns class="logo-section" small="6" large="9" valign="middle">
            <h1>TRUTH</h1>
            <!-- <img src="https://i.imgur.com/NRQVB3s.png" alt=""> -->
        </columns>

        <columns small="6" large="3" valign="middle">
            <row class="social-icons">
                <columns small="4" large="4"><img src="https://i.imgur.com/i7gUJV2.png" alt=""></columns>
                <columns small="4" large="4"><img src="https://i.imgur.com/AbzPOyG.png" alt=""></columns>
                <columns small="4" large="4"><img src="https://i.imgur.com/7wLQx7h.png" alt=""></columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer-menu">
        <columns style="width: 90%">
            <row>
                <columns small="4" large="3">
                    <a href="#" class="text-center">
                        <img src="https://i.imgur.com/zech3r5.png" class="icons" />
                        Flights
                    </a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center">
                        <img src="https://i.imgur.com/dXYRkGf.png" class="icons" />
                        Hotels
                    </a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center">
                        <img src="https://i.imgur.com/NKLxuCN.png" class="icons" />
                        Cars
                    </a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3" class="show-for-large">
                    <a href="#" class="text-center">
                        <img src="https://i.imgur.com/5mMr8Yj.png" class="icons" />
                        Packages
                    </a>
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer-bottom">
        <columns>
            <row class="lower-links">
                <columns>
                    <center class="center-tag" style="min-width: auto;">
                        <a href="#" class="link">Unsubscribe</a>
                        <a href="#" class="link">Email Preferences</a>
                        <a href="#" class="link">Feedback</a>
                        <a href="#" class="link">Privacy Policy</a>
                    </center>
                </columns>
            </row>
            <row class="privacy">
                <columns>
                    <p>
                        Prices, savings, and availability may vary. Additional restrictions may apply. Savings are not
                        ensured. TRUTH does not sell tickets but provides a price comparison service. The deals in this
                        newsletter were current at the time this email was published and subject to change based on
                        date, time and availability, which may be extremely limited. TRUTH accepts no liability for
                        inaccuracies arising from this or any other cause, including, but not limited to, expiration of
                        deals and typographical error, we are not responsible for any loss, damages, or injury incurred
                        by the deals herein. Unless otherwise specified, hotel prices are per night, based on
                        double-occupancy rooms and do not include taxes and fees. Unless specified to be one-way (ow) or
                        otherwise, flight prices are for round-trip (rt) economy class travel and include taxes and
                        fees. If in doubt, always consult the agent or company supplying the tickets.
                        Unless otherwise specified, package prices include flight + hotel, taxes and fees, but not
                        baggage fees or other fees charged directly by the airline for the included flight.
                        Cruise and car rental prices do not include taxes and fees. Please check the provider's webpage
                        or contact the provider for additional details.
                    </p>
                </columns>
            </row>
            <row class="copyright">
                <columns>
                    <p>&#9400; 2019 TRUTH Software Corporation</p>
                </columns>
            </row>
            <row class="address">
                <columns>
                    <p>55 Coding Street, London, EC1N 2BJ, 0789 111111</p>
                </columns>
            </row>
        </columns>
    </row>
</container>